*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1100px;
  margin: auto;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  background: #FFF;
  max-width: 1440px;
}

button,
a {
  cursor: pointer;
}

a {
  text-underline-position: under;
  color: inherit;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}
